body {
  	margin: 0;
  	line-height: normal;
}

.iphone-13-14 {
  	width: 100%;
  	height: 3008px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 14px;
  	color: #333;
  	font-family: 'ITC Avant Garde Gothic';
}
.layer-1-icon {
  	position: absolute;
  	top: 35px;
  	left: calc(50% - 163px);
  	width: 103px;
  	height: 100px;
  	object-fit: cover;
}
.anna-leonard-visual-container {
  	position: absolute;
  	top: 87.02px;
  	left: 155.78px;
  	text-transform: capitalize;
  	display: inline-block;
  	width: 170.5px;
  	height: 47.8px;
  	color: #e25599;
}
.visual-communicator {
  	font-family: 'Adobe Caslon Pro';
  	color: #000;
}
.iphone-13-14-child {
  	position: absolute;
  	top: 40.53px;
  	left: 336.15px;
  	width: 21.9px;
  	height: 13.4px;
}
.fa806d-9b88-49a4-b619-7b3a9da1-parent {
  	position: absolute;
  	top: 177.59px;
  	left: -0.01px;
  	width: 389.6px;
  	height: 243.2px;
}
.fa806d-9b88-49a4-b619-7b3a9da1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #d9d9d9;
  	width: 389.6px;
  	height: 243.2px;
}
.img {
  	position: absolute;
  	height: 99.92%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0.08%;
  	left: 0%;
  	background-color: #d9d9d9;
}
.project-title {
  	position: absolute;
  	top: 456.58px;
  	left: 32px;
  	font-size: 48px;
  	letter-spacing: -0.01em;
  	line-height: 110%;
  	display: inline-block;
  	width: 326px;
}
.group-parent {
  	position: absolute;
  	top: 561px;
  	left: 32px;
  	width: 326px;
  	height: 908px;
}
.services-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 280px;
  	height: 84px;
}
.services {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 280px;
}
.systems-design-uxui {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 280px;
}
.role-parent {
  	position: absolute;
  	top: 119px;
  	left: 0px;
  	width: 207px;
  	height: 84px;
}
.role {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 159px;
}
.researcher-systems-designer {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 207px;
}
.overview-parent {
  	position: absolute;
  	top: 238px;
  	left: 0px;
  	width: 326px;
  	height: 318px;
}
.overview {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 122.4px;
}
.netflixs-current-model {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 326px;
}
.challenge-parent {
  	position: absolute;
  	top: 591px;
  	left: 0px;
  	width: 326px;
  	height: 317px;
}
.the-challenge-was {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 326px;
  	height: 285px;
}
.frame-10-1663 {
  	position: absolute;
  	top: 2310.89px;
  	left: 32px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 326px;
  	height: 260.5px;
}
.header-parent {
  	position: absolute;
  	top: 1524px;
  	left: 32px;
  	width: 326px;
  	height: 133px;
  	font-size: 36px;
}
.header {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	display: inline-block;
  	width: 180.7px;
}
.the-research-began {
  	position: absolute;
  	top: 55px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 326px;
}
.ddc0a0a-151c-4777-9c00-7cfc912 {
  	position: absolute;
  	top: 1681.54px;
  	left: 32px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 326px;
  	height: 149.1px;
}
.frame-2-192-parent {
  	position: absolute;
  	top: 2133.61px;
  	left: 32px;
  	width: 325.6px;
  	height: 147.4px;
}
.frame-2-192 {
  	position: absolute;
  	top: 0px;
  	left: 132.4px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 193.2px;
  	height: 147.4px;
}
.b4be5a0-4256-4704-98ba-a798aed {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 117px;
  	height: 147.4px;
}
.after-mapping-all-components-parent {
  	position: absolute;
  	top: 1860.36px;
  	left: 32px;
  	width: 326px;
  	height: 248px;
  	font-size: 16px;
  	font-family: 'Adobe Caslon Pro';
}
.after-mapping-all {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 326px;
}
.subhead {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 24px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
  	display: inline-block;
  	width: 263.4px;
}
.layer-1-parent {
  	position: absolute;
  	top: 2850.98px;
  	left: calc(50% - 163px);
  	width: 326px;
  	height: 121.6px;
  	color: #231f20;
}
.layer-1-icon2 {
  	position: absolute;
  	top: 21.65px;
  	left: calc(50% - 163px);
  	width: 103px;
  	height: 100px;
  	object-fit: cover;
}
.header2 {
  	position: absolute;
  	top: 24.02px;
  	left: 124.16px;
  	width: 201.8px;
  	height: 17px;
}
.linkedin {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 500;
  	display: inline-block;
  	width: 56.9px;
}
.l {
  	text-transform: uppercase;
}
.inkedin {
  	text-transform: capitalize;
}
.instagram {
  	position: absolute;
  	top: 0px;
  	left: 66.51px;
  	text-transform: capitalize;
  	font-weight: 500;
  	display: inline-block;
  	width: 69.8px;
}
.booking {
  	position: absolute;
  	top: 0px;
  	left: 145.98px;
  	text-transform: capitalize;
  	font-weight: 500;
  	display: inline-block;
  	width: 55.9px;
}
.group-child {
  	position: absolute;
  	top: -0.5px;
  	left: calc(50% - 163.5px);
  	border-top: 1px solid #231f20;
  	box-sizing: border-box;
  	width: 327px;
  	height: 1px;
}
.cover-1 {
  	position: absolute;
  	top: 2605.1px;
  	left: 32px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 326px;
  	height: 211.7px;
}

