
body {
  	margin: 0;
  	line-height: normal;
}

.ipad-pro-11 {
  	width: 100%;
  	height: 3027px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 14px;
  	color: #333;
  	font-family: 'ITC Avant Garde Gothic';
}
.layer-1-icon {
  	position: absolute;
  	top: 48px;
  	left: calc(50% - 347px);
  	width: 126px;
  	height: 122px;
  	object-fit: cover;
}
.anna-leonard-visual-container {
  	position: absolute;
  	top: 121.58px;
  	left: 247px;
  	text-transform: capitalize;
  	display: inline-block;
  	width: 219px;
  	height: 47.8px;
  	color: #e25599;
}
.visual-communicator {
  	font-family: 'Adobe Caslon Pro';
  	color: #000;
}
.ipad-pro-11-child {
  	position: absolute;
  	top: 48px;
  	left: 742.15px;
  	width: 21.9px;
  	height: 13.4px;
}
.fa806d-9b88-49a4-b619-7b3a9da1-parent {
  	position: absolute;
  	top: 208.14px;
  	left: 0.31px;
  	width: 834.1px;
  	height: 520.8px;
}
.fa806d-9b88-49a4-b619-7b3a9da1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #d9d9d9;
  	width: 834.1px;
  	height: 520.8px;
}
.img {
  	position: absolute;
  	height: 99.92%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0.08%;
  	left: 0%;
  	background-color: #d9d9d9;
}
.project-title {
  	position: absolute;
  	top: 766.95px;
  	left: 159px;
  	font-size: 48px;
  	letter-spacing: -0.01em;
  	line-height: 110%;
  	display: inline-block;
  	width: 326px;
}
.services-parent {
  	position: absolute;
  	top: 861.37px;
  	left: 159px;
  	width: 199.5px;
  	height: 84px;
}
.services {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 199.5px;
}
.systems-design-uxui {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 199.5px;
}
.role-parent {
  	position: absolute;
  	top: 861.37px;
  	left: 427px;
  	width: 191.6px;
  	height: 84px;
}
.role {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 147.2px;
}
.researcher-systems-designer {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 191.6px;
}
.overview-parent {
  	position: absolute;
  	top: 979.35px;
  	left: 159px;
  	width: 516px;
  	height: 214px;
}
.overview {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 193.8px;
}
.netflixs-current-model {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 516px;
}
.challenge-parent {
  	position: absolute;
  	top: 1226.61px;
  	left: 159px;
  	width: 516px;
  	height: 317px;
}
.the-challenge-was {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 516px;
  	height: 285px;
}
.header-parent {
  	position: absolute;
  	top: 1480.1px;
  	left: 159px;
  	width: 516px;
  	height: 107px;
  	font-size: 36px;
}
.header {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	display: inline-block;
  	width: 286px;
}
.the-research-began {
  	position: absolute;
  	top: 55px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 516px;
}
.ddc0a0a-151c-4777-9c00-7cfc912 {
  	position: absolute;
  	top: 1607.57px;
  	left: 159px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 516px;
  	height: 236px;
}
.after-mapping-all-components-parent {
  	position: absolute;
  	top: 1895.31px;
  	left: 159px;
  	width: 516px;
  	height: 170px;
  	font-size: 16px;
  	font-family: 'Adobe Caslon Pro';
}
.after-mapping-all {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 516px;
}
.subhead {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 24px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
  	display: inline-block;
  	width: 416.9px;
}
.frame-2-192-parent {
  	position: absolute;
  	top: 2093.41px;
  	left: 70px;
  	width: 694px;
  	height: 194.7px;
}
.frame-2-192 {
  	position: absolute;
  	top: 0px;
  	left: 174.88px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 255.2px;
  	height: 194.7px;
}
.frame-10-1663 {
  	position: absolute;
  	top: 0px;
  	left: 450.36px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 243.6px;
  	height: 194.7px;
}
.b4be5a0-4256-4704-98ba-a798aed {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 154.6px;
  	height: 194.7px;
}
.cover-1 {
  	position: absolute;
  	top: 2328.6px;
  	left: 70px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 694px;
  	height: 450.7px;
}
.header2 {
  	position: absolute;
  	top: 2859.71px;
  	left: 494px;
  	width: 270px;
  	height: 17px;
  	color: #231f20;
}
.linkedin {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 500;
}
.l {
  	text-transform: uppercase;
}
.inkedin {
  	text-transform: capitalize;
}
.instagram {
  	position: absolute;
  	top: 0px;
  	left: 97.5px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.booking {
  	position: absolute;
  	top: 0px;
  	left: 214px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.ipad-pro-11-item {
  	position: absolute;
  	top: 2827.47px;
  	left: calc(50% - 347.5px);
  	border-top: 1px solid #231f20;
  	box-sizing: border-box;
  	width: 695px;
  	height: 1px;
}
.layer-1-icon2 {
  	position: absolute;
  	top: 2859.72px;
  	left: calc(50% - 347px);
  	width: 126px;
  	height: 122px;
  	object-fit: cover;
}

