body {
  	margin: 0;
  	line-height: normal;
}

.macbook-pro-14 {
  	width: 100%;
  	height: 4166px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 14px;
  	color: #333;
  	font-family: 'ITC Avant Garde Gothic';
}
.macbook-pro-14-19-parent {
  	position: absolute;
  	top: 1177px;
  	left: calc(50% - 756px);
  	width: 1512px;
  	height: 982px;
  	color: #929292;
}
.macbook-pro-14-19 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 756px);
  	width: 1512px;
  	height: 982px;
  	overflow: hidden;
}
.macbook-pro-14-19-child {
  	position: absolute;
  	top: 862.32px;
  	left: 1421.54px;
  	width: 53.8px;
  	height: 53.8px;
}
.ideate-parent {
  	position: absolute;
  	top: 206px;
  	left: 65.82px;
  	width: 22px;
  	height: 507px;
}
.ideate {
  	position: absolute;
  	top: 99px;
  	left: 0px;
  	width: 22px;
  	height: 46px;
}
.ideate2 {
  	position: absolute;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
}
.final-prototype {
  	position: absolute;
  	top: 281px;
  	left: 0px;
  	width: 22px;
  	height: 90px;
}
.visual-design {
  	position: absolute;
  	height: 24.44%;
  	width: 406.36%;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	display: inline-block;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
}
.design {
  	position: absolute;
  	top: 180px;
  	left: 0px;
  	width: 22px;
  	height: 66px;
}
.prototype {
  	position: absolute;
  	height: 33.33%;
  	width: 436.82%;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	display: inline-block;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.final-prototype2 {
  	position: absolute;
  	top: 406px;
  	left: 0px;
  	width: 22px;
  	height: 101px;
}
.research {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 22px;
  	height: 64px;
}
.fa806d-9b88-49a4-b619-7b3a9da1-parent {
  	position: absolute;
  	top: 272.62px;
  	left: -0.01px;
  	width: 1512px;
  	height: 944px;
}
.fa806d-9b88-49a4-b619-7b3a9da1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #d9d9d9;
  	width: 1512px;
  	height: 944px;
}
.img {
  	position: absolute;
  	height: 99.93%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0.07%;
  	left: 0%;
  	background-color: #d9d9d9;
}
.header-parent {
  	position: absolute;
  	top: 1929px;
  	left: 357px;
  	width: 828px;
  	height: 81px;
  	font-size: 36px;
}
.header {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
}
.the-research-began {
  	position: absolute;
  	top: 55px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 828px;
}
.ddc0a0a-151c-4777-9c00-7cfc912 {
  	position: absolute;
  	top: 2045px;
  	left: 357px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 796.3px;
  	height: 364.2px;
}
.after-mapping-all-components-parent {
  	position: absolute;
  	top: 2479.17px;
  	left: 357px;
  	width: 799px;
  	height: 118px;
  	font-size: 16px;
  	font-family: 'Adobe Caslon Pro';
}
.after-mapping-all {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 799px;
}
.subhead {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 24px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
  	display: inline-block;
  	width: 645.5px;
}
.project-title {
  	position: absolute;
  	top: 1292.75px;
  	left: 254px;
  	font-size: 48px;
  	letter-spacing: -0.01em;
  	line-height: 110%;
  	display: inline-block;
  	width: 1108px;
}
.frame-parent {
  	position: absolute;
  	top: 1436px;
  	left: 254px;
  	width: 1005px;
  	height: 403px;
  	display: grid;
  	justify-content: start;
  	align-content: start;
  	gap: 0px;
}
.group-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 280px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 35px;
}
.services-parent {
  	align-self: stretch;
  	height: 84px;
  	position: relative;
}
.services {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 280px;
}
.systems-design-uxui {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 280px;
}
.role-parent {
  	width: 207px;
  	height: 84px;
  	position: relative;
}
.role {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 159px;
}
.researcher-systems-designer {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 207px;
}
.group-container {
  	position: absolute;
  	top: 0px;
  	left: 414px;
  	width: 590px;
  	height: 404px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 35px;
}
.overview-parent {
  	align-self: stretch;
  	height: 188px;
  	position: relative;
}
.overview {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 221.6px;
}
.netflixs-current-model {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 590px;
}
.challenge-parent {
  	align-self: stretch;
  	height: 155.5px;
  	position: relative;
}
.the-challenge-was {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 590px;
  	height: 123.5px;
}
.header2 {
  	position: absolute;
  	top: 186.55px;
  	left: calc(50% + 117px);
  	display: flex;
  	align-items: flex-start;
  	gap: 46px;
  	color: #231f20;
}
.uxui-design {
  	position: relative;
  	text-transform: uppercase;
}
.graphic-design {
  	position: relative;
  	text-transform: uppercase;
  	font-weight: 500;
}
.layer-1-icon {
  	position: absolute;
  	top: 80.38px;
  	left: calc(50% - 606px);
  	width: 126px;
  	height: 122px;
  	object-fit: cover;
}
.anna-leonard-visual-container {
  	position: absolute;
  	top: 153.96px;
  	left: 327px;
  	text-transform: capitalize;
  	display: inline-block;
  	width: 219px;
  	height: 47.8px;
  	color: #e25599;
}
.visual-communicator {
  	font-family: 'Adobe Caslon Pro';
  	color: #000;
}
.header-group {
  	position: absolute;
  	top: 3932.09px;
  	left: 150px;
  	width: 1212px;
  	height: 153.7px;
  	color: #231f20;
}
.header3 {
  	position: absolute;
  	top: 31.74px;
  	left: 942px;
  	width: 270px;
  	height: 17px;
}
.linkedin {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 500;
}
.instagram {
  	position: absolute;
  	top: 0px;
  	left: 97.5px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.booking2 {
  	position: absolute;
  	top: 0px;
  	left: 214px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.group-child {
  	position: absolute;
  	top: -0.5px;
  	left: calc(50% - 606.5px);
  	border-top: 1px solid #231f20;
  	box-sizing: border-box;
  	width: 1213px;
  	height: 1px;
}
.layer-1-icon2 {
  	position: absolute;
  	top: 31.74px;
  	left: calc(50% - 606px);
  	width: 126px;
  	height: 122px;
  	object-fit: cover;
}
.frame-2-192-parent {
  	position: absolute;
  	top: 2637.92px;
  	left: 150px;
  	width: 1212px;
  	height: 340px;
}
.frame-2-192 {
  	position: absolute;
  	top: 0px;
  	left: 305.41px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 445.6px;
  	height: 340px;
}
.frame-10-1663 {
  	position: absolute;
  	top: 0px;
  	left: 786.51px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 425.5px;
  	height: 340px;
}
.b4be5a0-4256-4704-98ba-a798aed {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 269.9px;
  	height: 340px;
}
.cover-1 {
  	position: absolute;
  	top: 3052.19px;
  	left: 150px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 1212px;
  	height: 787.2px;
}

