.project_container,
 .text_section_container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0px 0;
    grid-row: auto;
    height: auto;
    width: auto;
}
.project_container {
    grid-template-rows: repeat(2, auto);
    @media (max-width: 768px) {
        padding: 0 10%;
    }
}
.project_header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 11;
}
.project_left {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    @media (max-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 11;
    }
}
.project_right {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 11;
    @media (max-width: 768px) {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
    }
}

.text_section_container {
    grid-template-rows: repeat(1, auto);
 }
.text_section {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 10;
}
.text_section img {
    height: auto;
     width: 100%;
}

.image_section_container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    @media (max-width: 768px) {
        padding: 0 10%;
    }
}
.image_section_container img {
    height: 340px;
    width: auto;
    @media (max-width: 768px) {
        height: auto;
        width: 100%;
    }
}
