body {
  	margin: 0;
  	line-height: normal;
}

/*div {
  border: 1px dotted pink;
}*/

.page_container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 0px 0;
  grid-row: auto;
  height: auto;
  width: auto;
}

.hdr_mid {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 10;
}
.hdr_left {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
}
.hdr_right {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 10;
  grid-column-end: 10;
}

.banner {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 11;
  height: auto;
}
.banner_img {
  width: 100%;
  height: auto;
}

.mid_left {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
}
.mid_mid {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 10;
}
.mid_right {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 10;
  grid-column-end: 10;
  justify-self: center;
}

.bot_left {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
}
.bot_mid {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 10;
  margin: 100px 0px 100px 0px;
}
.bot_right {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 10;
  grid-column-end: 10;
}

.footer_left {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 1;
}
.footer_mid {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 10;
  border-top: 1px solid #231f20;
  padding: 30px 0px 90px 0px;
}
.footer_right {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 10;
  grid-column-end: 10;
}

.hdr_container {
    display: flex;
    height: auto;
    width: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-flow: row;
}

.logo_container {
    flex: 1;
    padding: 80px 0px 70px 5px;
    width: 100%;
}
.logo_icon {
  padding: 0px;
  width: 126px;
  height: 122px;
  object-fit: cover;
}

.logo_signature {
    display: inline-block;
    padding: 0px 0px 0px 50px;
    bottom: 0px;
    width: 219px;
    height: 48px;
}
.logo_signature_name {
    color: #e25599;
  	font-size: 14px;
  	font-family: 'ITC Avant Garde Gothic';
  	font-weight: bold;
  	white-space: nowrap;
}
.logo_signature_title {
  	color: #000;
    font-family: 'Adobe Caslon Pro';
    font-weight: normal;
    white-space: nowrap;
}

.menu_container {
    flex: 1;
    padding: 0px 0px 70px 0px;
    margin-top: auto;
}

.ftr_container {
    display: flex;
    height: auto;
    width: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-flow: row;
}
.ftr_logo_container {
    flex: 1;
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .hdr_container, ftr_container {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
  .page_container {
    grid-template-columns: 1fr;
  }
  .hdr_left, .hdr_mid, .hdr_right,
  .banner,
  .mid_left, .mid_mid, .mid_right,
  .bot_left, .bot_mid, .bot_right,
  .footer_left, .footer_mid, .footer_right {
    grid-column: 1 / -1;
    grid-row: auto;
  }
  .menu_container {
    flex: 0;
  }
}
@media screen and (max-width: 480px) {
  .page_container {
    min-width: 375px;
  }
  .page_container {
    grid-template-columns: 1fr;
  }
  .hdr_left, .hdr_mid, .hdr_right,
  .banner,
  .mid_left, .mid_mid, .mid_right,
  .bot_left, .bot_mid, .bot_right,
  .footer_left, .footer_mid, .footer_right {
    grid-column: 1 / -1;
    grid-row: auto;
  }
  .logo_container {
    display: block;
    padding: 15px;
  }
  .logo_signature{
    display: block;
    padding: 15px 0px;
  }
  .menu_container, .ftr_container  {
    flex: 0;
  }
}