.responsive-page {
  	width: 100%;
  	height: 4166px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 14px;
  	color: #333;
  	font-family: 'ITC Avant Garde Gothic';
}
.macbook-pro-14-19-parent {
  	position: absolute;
  	top: 1177px;
  	left: calc(50% - 756px);
  	width: 1512px;
  	height: 982px;
  	color: #929292;
}
.macbook-pro-14-19 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 756px);
  	width: 1512px;
  	height: 982px;
  	overflow: hidden;
}
.macbook-pro-14-19-child {
  	position: absolute;
  	top: 862.32px;
  	left: 1421.54px;
  	width: 53.8px;
  	height: 53.8px;
}
.ideate-parent {
  	position: absolute;
  	top: 206px;
  	left: 65.82px;
  	width: 22px;
  	height: 507px;
}
.ideate {
  	position: absolute;
  	top: 99px;
  	left: 0px;
  	width: 22px;
  	height: 46px;
}
.ideate2 {
  	position: absolute;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
}
.final-prototype {
  	position: absolute;
  	top: 281px;
  	left: 0px;
  	width: 22px;
  	height: 90px;
}
.visual-design {
  	position: absolute;
  	height: 24.44%;
  	width: 406.36%;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	display: inline-block;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
}
.design {
  	position: absolute;
  	top: 180px;
  	left: 0px;
  	width: 22px;
  	height: 66px;
}
.prototype {
  	position: absolute;
  	height: 33.33%;
  	width: 436.82%;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	display: inline-block;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.final-prototype2 {
  	position: absolute;
  	top: 406px;
  	left: 0px;
  	width: 22px;
  	height: 101px;
}
.research {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 22px;
  	height: 64px;
}
.header-parent {
  	position: absolute;
  	width: 54.76%;
  	top: 1929px;
  	right: 21.63%;
  	left: 23.61%;
  	height: 81px;
  	font-size: 36px;
}
.header {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	left: 0%;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	display: inline-block;
}
.the-research-began {
  	position: absolute;
  	width: 100%;
  	top: 55px;
  	left: 0%;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
}
.ddc0a0a-151c-4777-9c00-7cfc912 {
  	position: absolute;
  	height: 8.74%;
  	top: 49.09%;
  	bottom: 42.17%;
  	left: calc(50% - 399px);
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 796.3px;
}
.after-mapping-all-components-parent {
  	position: absolute;
  	top: 2479.17px;
  	left: 357px;
  	width: 799px;
  	height: 118px;
  	font-size: 16px;
  	font-family: 'Adobe Caslon Pro';
}
.after-mapping-all {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 799px;
}
.subhead {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 24px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
  	display: inline-block;
  	width: 645.5px;
}
.header-group {
  	position: absolute;
  	top: 3932.09px;
  	left: 150px;
  	width: 1212px;
  	height: 153.7px;
  	color: #231f20;
}
.header2 {
  	position: absolute;
  	top: 31.74px;
  	left: 942px;
  	width: 270px;
  	height: 17px;
}
.linkedin {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 500;
}
.l {
  	text-transform: uppercase;
}
.inkedin {
  	text-transform: capitalize;
}
.instagram {
  	position: absolute;
  	top: 0px;
  	left: 97.5px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.booking {
  	position: absolute;
  	top: 0px;
  	left: 214px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.group-child {
  	position: absolute;
  	top: -0.5px;
  	left: calc(50% - 606.5px);
  	border-top: 1px solid #231f20;
  	box-sizing: border-box;
  	width: 1213px;
  	height: 1px;
}
.layer-1-icon {
  	position: absolute;
  	top: 31.74px;
  	left: calc(50% - 606px);
  	width: 126px;
  	height: 122px;
  	object-fit: cover;
}
.b4be5a0-4256-4704-98ba-a798aed-parent {
  	position: absolute;
  	height: 8.16%;
  	top: 63.32%;
  	bottom: 28.52%;
  	left: 150px;
  	display: flex;
  	align-items: center;
  	gap: 35px;
}
.b4be5a0-4256-4704-98ba-a798aed {
  	height: 340px;
  	width: 269.9px;
  	position: relative;
  	border-radius: 16px;
  	background-color: #d9d9d9;
}
.frame-2-192 {
  	height: 340px;
  	width: 445.6px;
  	position: relative;
  	border-radius: 16px;
  	background-color: #d9d9d9;
}
.frame-10-1663 {
  	height: 340px;
  	width: 425.5px;
  	position: relative;
  	border-radius: 16px;
  	background-color: #d9d9d9;
}
.cover-1 {
  	position: absolute;
  	top: 3052.19px;
  	left: 150px;
  	border-radius: 16px;
  	background-color: #d9d9d9;
  	width: 1212px;
  	height: 787.2px;
}
.group-parent {
  	position: absolute;
  	width: 100%;
  	top: 272.63px;
  	right: 0%;
  	left: 0%;
  	height: 1567.4px;
}
.frame-parent {
  	position: absolute;
  	width: 73.28%;
  	top: 1020.12px;
  	right: 9.92%;
  	left: 16.8%;
  	height: 547.3px;
}
.group-container {
  	position: absolute;
  	width: 25.27%;
  	top: 143.25px;
  	right: 74.73%;
  	left: 0%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 35px;
}
.services-parent {
  	align-self: stretch;
  	height: 84px;
  	position: relative;
}
.services {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 280px;
}
.systems-design-uxui {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 280px;
}
.role-parent {
  	width: 207px;
  	height: 84px;
  	position: relative;
}
.role {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 159px;
}
.researcher-systems-designer {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 207px;
}
.frame-div {
  	position: absolute;
  	width: 62.64%;
  	top: 143.25px;
  	right: 0%;
  	left: 37.36%;
  	height: 404px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 35px;
}
.overview-parent {
  	align-self: stretch;
  	height: 162px;
  	position: relative;
}
.overview {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 260.7px;
}
.netflixs-current-model {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 694px;
}
.challenge-parent {
  	align-self: stretch;
  	height: 155.5px;
  	position: relative;
}
.the-challenge-was {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 694px;
  	height: 123.5px;
}
.project-title {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	left: 0%;
  	font-size: 48px;
  	letter-spacing: -0.01em;
  	line-height: 110%;
  	display: inline-block;
}
.img {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0%;
  	left: 0%;
  	background-color: #d9d9d9;
  	height: 943.3px;
}
.navbar {
  	position: absolute;
  	top: 80.38px;
  	right: 150px;
  	width: 1212px;
  	height: 124.2px;
  	color: #231f20;
}
.navigation {
  	position: absolute;
  	top: 106.17px;
  	right: 0px;
  	display: flex;
  	align-items: flex-start;
  	gap: 46px;
}
.uxui-design {
  	position: relative;
  	text-transform: uppercase;
}
.graphic-design {
  	position: relative;
  	text-transform: uppercase;
  	font-weight: 500;
}
.logo-and-name {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: flex-end;
  	gap: 51px;
  	color: #e25599;
}
.logo-icon {
  	height: 122px;
  	width: 126px;
  	position: relative;
}
.anna-leonard-visual-container {
  	height: 47.8px;
  	width: 219px;
  	position: relative;
  	text-transform: capitalize;
  	display: inline-block;
  	flex-shrink: 0;
}
.visual-communicator {
  	font-family: 'Adobe Caslon Pro';
  	color: #000;
}

