
body {
  	margin: 0;
  	line-height: normal;
}

.the-system-behind-netflix {
  	width: 100%;
  	height: 11445px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 14px;
  	color: #333;
  	font-family: 'ITC Avant Garde Gothic';
}
.macbook-pro-14-19-parent {
  	position: absolute;
  	top: 1177px;
  	left: calc(50% - 756px);
  	width: 1512px;
  	height: 982px;
  	color: #929292;
}
.macbook-pro-14-19 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 756px);
  	width: 1512px;
  	height: 982px;
  	overflow: hidden;
}
.macbook-pro-14-19-child {
  	position: absolute;
  	top: 862.32px;
  	left: 1421.54px;
  	width: 53.8px;
  	height: 53.8px;
}
.ideate-parent {
  	position: absolute;
  	top: 206px;
  	left: 65.82px;
  	width: 22px;
  	height: 507px;
}
.ideate {
  	position: absolute;
  	top: 99px;
  	left: 0px;
  	width: 22px;
  	height: 46px;
}
.ideate2 {
  	position: absolute;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
  	cursor: pointer;
}
.final-prototype {
  	position: absolute;
  	top: 281px;
  	left: 0px;
  	width: 22px;
  	height: 90px;
  	cursor: pointer;
}
.visual-design {
  	position: absolute;
  	height: 24.44%;
  	width: 406.36%;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	display: inline-block;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
}
.design {
  	position: absolute;
  	top: 180px;
  	left: 0px;
  	width: 22px;
  	height: 66px;
  	cursor: pointer;
}
.prototype {
  	position: absolute;
  	height: 33.33%;
  	width: 436.82%;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	display: inline-block;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.final-prototype2 {
  	position: absolute;
  	top: 406px;
  	left: 0px;
  	width: 22px;
  	height: 101px;
  	cursor: pointer;
}
.final-prototype3 {
  	position: absolute;
  	top: 0%;
  	left: 100%;
  	line-height: 160%;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
	white-space: nowrap;
}
.research {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 22px;
  	height: 64px;
  	cursor: pointer;
}
.fa806d-9b88-49a4-b619-7b3a9da1-parent {
  	position: absolute;
  	top: 272.62px;
  	left: -0.01px;
  	width: 1512px;
  	height: 944px;
}
.fa806d-9b88-49a4-b619-7b3a9da1-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1512px;
  	height: 944px;
  	object-fit: cover;
}
.img-icon {
  	position: absolute;
  	height: 99.93%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0.07%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.frame-parent {
  	position: absolute;
  	top: 1929px;
  	left: calc(50% - 399px);
  	width: 798px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 90px;
  	font-size: 36px;
}
.frame-wrapper {
  	align-self: stretch;
  	height: 1658px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	flex-shrink: 0;
}
.frame-group {
  	width: 796px;
  	height: 1652px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 70px;
}
.frame-container {
  	align-self: stretch;
  	height: 1338px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 70px;
  	flex-shrink: 0;
}
.group-parent {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 35px;
  	flex-shrink: 0;
}
.research-and-analysis-parent {
  	width: 828px;
  	height: 81px;
  	position: relative;
}
.research-and-analysis {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
}
.the-research-began {
  	position: absolute;
  	top: 55px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 828px;
}
.ddc0a0a-151c-4777-9c00-7cfc912-icon {
  	width: 796.3px;
  	position: relative;
  	border-radius: 16px;
  	max-height: 100%;
  	object-fit: cover;
}
.group-container {
  	width: 799px;
  	height: 401px;
  	position: relative;
  	flex-shrink: 0;
  	font-size: 16px;
  	font-family: 'Adobe Caslon Pro';
}
.after-mapping-all-components-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 799px;
  	height: 118px;
}
.after-mapping-all {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 799px;
}
.establishing-system-boundaries {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 24px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
  	display: inline-block;
  	width: 645.5px;
}
.with-components-and-boundaries-parent {
  	position: absolute;
  	top: 153px;
  	left: 0px;
  	width: 799px;
  	height: 248px;
}
.group-wrapper {
  	align-self: stretch;
  	height: 266px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	flex-shrink: 0;
  	font-size: 16px;
  	font-family: 'Adobe Caslon Pro';
}
.the-research-phase-focused-on-parent {
  	width: 726.5px;
  	height: 274px;
  	position: relative;
  	flex-shrink: 0;
}
.the-research-phase {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 726.5px;
}
.identifying-leverage-points {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 24px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
  	display: inline-block;
  	width: 587px;
}
.frame-div {
  	width: 798px;
  	height: 652px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 167px 73px;
  	box-sizing: border-box;
  	position: relative;
  	isolation: isolate;
  	flex-shrink: 0;
  	font-size: 16px;
  	font-family: 'Adobe Caslon Pro';
}
.ideation-and-concept-developme-parent {
  	width: 799px;
  	margin: 0 !important;
  	position: absolute;
  	top: -0.38px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 10px;
  	z-index: 0;
  	flex-shrink: 0;
}
.ideation-and-concept {
  	position: relative;
  	font-size: 36px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
}
.after-identifying-critical {
  	width: 797.1px;
  	height: 491px;
  	position: relative;
  	line-height: 160%;
  	font-weight: 600;
  	color: #000;
  	white-space: pre-wrap;
  	display: inline-block;
  	flex-shrink: 0;
}
.paper-prototypes-allowed {
  	width: 797.1px;
  	position: relative;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
}
.frame-parent2 {
  	width: 796px;
  	height: 2257px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 37px;
  	flex-shrink: 0;
  	font-size: 16px;
  	font-family: 'Adobe Caslon Pro';
}
.low-fidelity-prototyping-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 10px;
  	font-size: 36px;
  	font-family: 'ITC Avant Garde Gothic';
}
.low-fidelity-prototyping {
  	position: relative;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
}
.to-validate-the-community-driv-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 16px;
  	color: #000;
  	font-family: 'Adobe Caslon Pro';
}
.to-validate-the {
  	align-self: stretch;
  	position: relative;
  	line-height: 160%;
  	font-weight: 600;
}
.group-frame {
  	align-self: stretch;
  	height: 1163px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.the-mobile-prototype-focused-o-parent {
  	align-self: stretch;
  	height: 300px;
  	position: relative;
}
.the-mobile-prototype {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 796px;
}
.mobile-prototype-swipe-based {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 24px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
  	display: inline-block;
  	width: 643.1px;
}
.group-wrapper2 {
  	align-self: stretch;
  	height: 266px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.for-the-tv-platform-wireframe-parent {
  	width: 726.5px;
  	height: 170px;
  	position: relative;
}
.frame-parent3 {
  	width: 792px;
  	height: 1567px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 35px;
  	flex-shrink: 0;
}
.visual-design-parent {
  	width: 800px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 10px;
  	flex-shrink: 0;
}
.the-visual-design {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	color: #000;
}
.frame-wrapper2 {
  	width: 792px;
  	height: 4075px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	flex-shrink: 0;
  	font-size: 16px;
  	font-family: 'Adobe Caslon Pro';
}
.frame-parent4 {
  	width: 1212px;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 70px;
  	flex-shrink: 0;
}
.group-wrapper3 {
  	width: 802px;
  	height: 745px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.custom-icons-were-designed-for-parent {
  	width: 792.7px;
  	height: 144px;
  	position: relative;
}
.custom-icons-were {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 792.7px;
}
.system-map-design {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 24px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
  	display: inline-block;
  	width: 640.5px;
}
.group-wrapper4 {
  	height: 566px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.the-icons-created-for-the-syst-parent {
  	width: 694px;
  	height: 196px;
  	position: relative;
}
.the-icons-created {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 694px;
}
.badge-system-design {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 24px;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	font-family: 'ITC Avant Garde Gothic';
  	display: inline-block;
  	width: 563.4px;
}
.frame-parent5 {
  	width: 805px;
  	height: 1488px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 35px;
  	flex-shrink: 0;
  	font-size: 24px;
}
.frame-wrapper3 {
  	align-self: stretch;
  	height: 104px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 36px;
}
.final-prototype-parent {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 10px;
  	flex-shrink: 0;
}
.building-on-the {
  	width: 694.1px;
  	position: relative;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
}
.frame-wrapper4 {
  	align-self: stretch;
  	height: 704px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.mobile-interface-design {
  	width: 896px;
  	position: relative;
  	letter-spacing: -0.01em;
  	line-height: 125%;
  	font-weight: 500;
  	display: inline-block;
}
.the-mobile-voting {
  	width: 797.3px;
  	position: relative;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
}
.frame-wrapper5 {
  	align-self: stretch;
  	height: 211px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.frame-wrapper6 {
  	align-self: stretch;
  	height: 185px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	flex-shrink: 0;
}
.frame-wrapper7 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	flex-shrink: 0;
}
.frame-wrapper8 {
  	height: 749px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.reflection-and-impact-parent {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 10px;
}
.the-proposed-voting {
  	width: 798.2px;
  	position: relative;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
}
.the-system-behind {
  	position: absolute;
  	top: 1292.75px;
  	left: 254px;
  	font-size: 48px;
  	letter-spacing: -0.01em;
  	line-height: 110%;
  	display: inline-block;
  	width: 1108px;
}
.frame-parent6 {
  	position: absolute;
  	top: 1436px;
  	left: 254px;
  	width: 1005px;
  	height: 403px;
  	display: grid;
  	justify-content: start;
  	align-content: start;
  	gap: 0px;
}
.group-parent2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 280px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 35px;
}
.services-parent {
  	align-self: stretch;
  	height: 84px;
  	position: relative;
}
.services {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 280px;
}
.systems-design-uxui {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 280px;
}
.role-parent {
  	width: 207px;
  	height: 84px;
  	position: relative;
}
.role {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 159px;
}
.researcher-systems-designer {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 207px;
}
.group-parent3 {
  	position: absolute;
  	top: 0px;
  	left: 414px;
  	width: 590px;
  	height: 404px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 35px;
}
.overview-parent {
  	align-self: stretch;
  	height: 188px;
  	position: relative;
}
.overview {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 221.6px;
}
.netflixs-current-model {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 590px;
}
.challenge-parent {
  	align-self: stretch;
  	height: 155.5px;
  	position: relative;
}
.the-challenge-was {
  	position: absolute;
  	top: 32px;
  	left: 0px;
  	font-size: 16px;
  	line-height: 160%;
  	font-weight: 600;
  	font-family: 'Adobe Caslon Pro';
  	display: inline-block;
  	width: 590px;
  	height: 123.5px;
}
.header {
  	position: absolute;
  	top: 186.55px;
  	left: calc(50% + 117px);
  	display: flex;
  	align-items: flex-start;
  	gap: 46px;
  	color: #231f20;
}
.uxui-design {
  	position: relative;
  	text-transform: uppercase;
}
.graphic-design {
  	position: relative;
  	text-transform: uppercase;
  	font-weight: 500;
}
.layer-1-icon {
  	position: absolute;
  	top: 80.38px;
  	left: calc(50% - 606px);
  	width: 126px;
  	height: 122px;
  	object-fit: cover;
}
.anna-leonard-visual-container {
  	position: absolute;
  	top: 153.96px;
  	left: 327px;
  	text-transform: capitalize;
  	display: inline-block;
  	width: 219px;
  	height: 47.8px;
  	color: #e25599;
}
.visual-communicator {
  	font-family: 'Adobe Caslon Pro';
  	color: #000;
}
.header-parent {
  	position: absolute;
  	top: 11210.67px;
  	left: 149.99px;
  	width: 1212px;
  	height: 153.7px;
  	color: #231f20;
}
.header2 {
  	position: absolute;
  	top: 31.74px;
  	left: 942px;
  	width: 270px;
  	height: 17px;
}
.linkedin {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 500;
}
.instagram {
  	position: absolute;
  	top: 0px;
  	left: 97.5px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.booking2 {
  	position: absolute;
  	top: 0px;
  	left: 214px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.group-child {
  	position: absolute;
  	top: -0.5px;
  	left: calc(50% - 606.5px);
  	border-top: 1px solid #231f20;
  	box-sizing: border-box;
  	width: 1213px;
  	height: 1px;
}
.layer-1-icon2 {
  	position: absolute;
  	top: 31.74px;
  	left: calc(50% - 606px);
  	width: 126px;
  	height: 122px;
  	object-fit: cover;
}
.frame-2-192-parent {
  	position: absolute;
  	top: 2917.26px;
  	left: 150px;
  	width: 1212px;
  	height: 340px;
}
.frame-2-192 {
  	position: absolute;
  	top: 0px;
  	left: 305.41px;
  	border-radius: 16px;
  	width: 445.6px;
  	height: 340px;
  	object-fit: cover;
}
.frame-10-1663 {
  	position: absolute;
  	top: 0px;
  	left: 786.51px;
  	border-radius: 16px;
  	width: 425.5px;
  	height: 340px;
  	object-fit: cover;
}
.b4be5a0-4256-4704-98ba-a798aed-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	width: 269.9px;
  	height: 340px;
  	object-fit: cover;
}
.the-system-behind-netflix-inner {
  	position: absolute;
  	top: 3925px;
  	left: 150px;
  	display: flex;
  	align-items: flex-start;
}
.group-div {
  	height: 276.8px;
  	width: 1211.9px;
  	position: relative;
}
.yellownote-1-parent {
  	position: absolute;
  	top: 0px;
  	left: 814.39px;
  	width: 397.5px;
  	height: 276.8px;
}
.yellownote-1-icon {
  	position: absolute;
  	top: 140.61px;
  	left: 0px;
  	width: 397.5px;
  	height: 136.2px;
  	object-fit: cover;
}
.pinknote-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 397.5px;
  	height: 140.6px;
  	object-fit: cover;
}
.bluenote-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 809.2px;
  	height: 276.8px;
  	object-fit: cover;
}
.macbook-pro-14-5-1-parent {
  	position: absolute;
  	top: 6011.86px;
  	left: 150px;
  	width: 1212px;
  	height: 664.4px;
}
.macbook-pro-14-5-1 {
  	position: absolute;
  	top: 417.01px;
  	left: 415.58px;
  	width: 380.8px;
  	height: 247.3px;
  	object-fit: cover;
}
.macbook-pro-14-6-1 {
  	position: absolute;
  	top: 0px;
  	left: 623.42px;
  	width: 588.6px;
  	height: 382.3px;
  	object-fit: cover;
}
.macbook-pro-14-7-1 {
  	position: absolute;
  	top: 417.01px;
  	left: 0px;
  	width: 380.8px;
  	height: 247.3px;
  	object-fit: cover;
}
.macbook-pro-14-8-1 {
  	position: absolute;
  	top: 417.01px;
  	left: 831.17px;
  	width: 380.8px;
  	height: 247.3px;
  	object-fit: cover;
}
.home-vote-banner-1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 588.6px;
  	height: 382.3px;
  	object-fit: cover;
}
.img-parent {
  	position: absolute;
  	top: 7133.7px;
  	left: 149.99px;
  	width: 1212px;
  	height: 568px;
}
.img-icon2 {
  	position: absolute;
  	top: 0px;
  	left: 303.09px;
  	border-radius: 16px;
  	width: 908.9px;
  	height: 568px;
  	object-fit: cover;
}
.frame-185-1 {
  	position: absolute;
  	top: 0.08px;
  	left: 0px;
  	border-radius: 16px;
  	width: 268px;
  	height: 567.9px;
  	object-fit: cover;
}
.group-parent4 {
  	position: absolute;
  	top: 7980px;
  	left: 254px;
  	width: 1005px;
  	height: 352.3px;
  	font-size: 24px;
  	color: #fff;
  	font-family: 'Netflix Sans ';
}
.ellipse-parent {
  	position: absolute;
  	top: 0px;
  	left: 214.96px;
  	width: 169.9px;
  	height: 157.6px;
}
.group-item {
  	position: absolute;
  	top: 0px;
  	left: 12.34px;
  	border-radius: 50%;
  	background: linear-gradient(180deg, #ee1520, #880c12);
  	border: 7px solid #fff;
  	box-sizing: border-box;
  	width: 157.6px;
  	height: 157.6px;
}
.group-inner {
  	position: absolute;
  	top: 71.51px;
  	left: 0px;
  	border-radius: 1px;
  	width: 133.8px;
  	height: 41.7px;
  	object-fit: contain;
}
.b {
  	position: absolute;
  	top: 77.9px;
  	left: 26.08px;
  	letter-spacing: -3px;
  	line-height: 102.9%;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 48.7px;
  	height: 45.8px;
}
.vector-icon {
  	position: absolute;
  	top: 24.08px;
  	left: 56.33px;
  	border-radius: 34px;
  	width: 34.8px;
  	height: 30px;
  	object-fit: contain;
}
.group-child2 {
  	position: absolute;
  	top: 40.15px;
  	left: 46.71px;
  	border-radius: 34px;
  	width: 19.9px;
  	height: 24.8px;
  	object-fit: contain;
}
.group-child3 {
  	position: absolute;
  	top: 17.46px;
  	left: 83.51px;
  	border-radius: 34px;
  	width: 19.9px;
  	height: 24.8px;
  	object-fit: contain;
}
.group-child4 {
  	position: absolute;
  	top: 24.11px;
  	left: 47.87px;
  	box-shadow: -1px 6px 4.9px #8f0014;
  	width: 109.8px;
  	height: 120.5px;
  	object-fit: contain;
}
.ellipse-group {
  	position: absolute;
  	top: 194.69px;
  	left: 429.92px;
  	width: 169.9px;
  	height: 157.6px;
}
.group-child5 {
  	position: absolute;
  	top: 71.52px;
  	left: 0px;
  	border-radius: 1px;
  	width: 133.8px;
  	height: 41.7px;
  	object-fit: contain;
}
.b2 {
  	position: absolute;
  	top: 77.06px;
  	left: 17.77px;
  	line-height: 102.9%;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 61.5px;
  	height: 45.8px;
}
.span {
  	letter-spacing: -0.15em;
}
.span2 {
  	letter-spacing: 0.01em;
}
.group-child8 {
  	position: absolute;
  	top: 17.46px;
  	left: 83.53px;
  	border-radius: 34px;
  	width: 19.9px;
  	height: 24.8px;
  	object-fit: contain;
}
.ellipse-container {
  	position: absolute;
  	top: 0px;
  	left: 429.92px;
  	width: 169.9px;
  	height: 157.6px;
}
.b3 {
  	position: absolute;
  	top: 77.9px;
  	left: 24.97px;
  	letter-spacing: -1px;
  	line-height: 102.9%;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 48.7px;
  	height: 45.8px;
}
.group-child15 {
  	position: absolute;
  	top: 24.11px;
  	left: 47.88px;
  	box-shadow: -1px 6px 4.9px #8f0014;
  	width: 109.8px;
  	height: 120.5px;
  	object-fit: contain;
}
.ellipse-parent2 {
  	position: absolute;
  	top: 194.69px;
  	left: 0px;
  	width: 169.9px;
  	height: 157.6px;
}
.group-child16 {
  	position: absolute;
  	top: 0px;
  	left: 12.35px;
  	border-radius: 50%;
  	background: linear-gradient(180deg, #ee1520, #880c12);
  	border: 7px solid #fff;
  	box-sizing: border-box;
  	width: 157.6px;
  	height: 157.6px;
}
.group-child20 {
  	position: absolute;
  	top: 17.46px;
  	left: 83.52px;
  	border-radius: 34px;
  	width: 19.9px;
  	height: 24.8px;
  	object-fit: contain;
}
.ellipse-parent3 {
  	position: absolute;
  	top: 194.69px;
  	left: 214.96px;
  	width: 169.9px;
  	height: 157.6px;
}
.group-icon {
  	position: absolute;
  	top: 194.65px;
  	left: 644.88px;
  	width: 157.5px;
  	height: 157.5px;
}
.group-child28 {
  	position: absolute;
  	top: 0px;
  	left: 644.88px;
  	width: 157.5px;
  	height: 157.5px;
}
.group-child29 {
  	position: absolute;
  	top: 0px;
  	left: 847.46px;
  	width: 157.5px;
  	height: 157.5px;
}
.group-child30 {
  	position: absolute;
  	top: 194.65px;
  	left: 847.46px;
  	width: 157.5px;
  	height: 157.5px;
}
.ellipse-parent4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 169.9px;
  	height: 157.6px;
}
.b6 {
  	position: absolute;
  	top: 77.51px;
  	left: 30.5px;
  	letter-spacing: -1px;
  	line-height: 102.9%;
  	text-transform: uppercase;
  	display: inline-block;
  	width: 36px;
  	height: 45.8px;
}
.mask-group-parent {
  	position: absolute;
  	top: 8815.06px;
  	left: 149.99px;
  	width: 1212px;
  	height: 445.3px;
}
.mask-group-icon {
  	position: absolute;
  	top: 0px;
  	left: 397.98px;
  	width: 814px;
  	height: 445.3px;
  	object-fit: cover;
}
.hand-and-iphone-16-pro {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	width: 362.7px;
  	height: 445.3px;
  	object-fit: cover;
}
.group-parent5 {
  	position: absolute;
  	top: 9528.58px;
  	left: 150px;
  	width: 1212px;
  	height: 402.5px;
}
.screen-recording-2025-10-03-at-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 588.7px;
  	height: 402.5px;
}
.screen-recording-2025-10-03-at {
  	position: absolute;
  	top: 18.53px;
  	left: 19.92px;
  	width: 547.9px;
  	height: 309px;
}
.image-27-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 588.7px;
  	height: 402.5px;
  	object-fit: cover;
}
.screen-recording-2025-10-03-at-group {
  	position: absolute;
  	top: 0px;
  	left: 623.36px;
  	width: 588.7px;
  	height: 402.5px;
}
.screen-recording-2025-10-03-at2 {
  	position: absolute;
  	top: 18.53px;
  	left: 20.37px;
  	width: 547.9px;
  	height: 309px;
}
.cover-1-icon {
  	position: absolute;
  	top: 10333.5px;
  	left: 150px;
  	border-radius: 16px;
  	width: 1212px;
  	height: 787.2px;
  	object-fit: cover;
}
.iphone-13-14-1-4-parent {
  	position: absolute;
  	top: 4941.66px;
  	left: 359.25px;
  	width: 795.9px;
  	height: 813px;
}
.iphone-13-14-1-4 {
  	position: absolute;
  	top: 0px;
  	left: 1.4px;
  	width: 179.8px;
  	height: 389.1px;
  	object-fit: cover;
}
.iphone-13-14-2-1 {
  	position: absolute;
  	top: 0px;
  	left: 206.65px;
  	width: 179.8px;
  	height: 389.1px;
  	object-fit: cover;
}
.iphone-13-14-3-1 {
  	position: absolute;
  	top: 0px;
  	left: 615.92px;
  	width: 179.8px;
  	height: 389.1px;
  	object-fit: cover;
}
.iphone-13-14-6-1 {
  	position: absolute;
  	top: 423.02px;
  	left: 410.9px;
  	width: 180.2px;
  	height: 389.9px;
  	object-fit: cover;
}
.iphone-13-14-8-1 {
  	position: absolute;
  	top: 423.02px;
  	left: 0px;
  	width: 180.2px;
  	height: 389.9px;
  	object-fit: cover;
}
.iphone-13-14-9-1 {
  	position: absolute;
  	top: 423.02px;
  	left: 205.65px;
  	width: 180.2px;
  	height: 389.9px;
  	object-fit: cover;
}
.iphone-13-14-10-1 {
  	position: absolute;
  	top: 0px;
  	left: 411.49px;
  	width: 179.8px;
  	height: 389.1px;
  	object-fit: cover;
}
.iphone-13-14-13-1 {
  	position: absolute;
  	top: 423.02px;
  	left: 615.74px;
  	width: 180.2px;
  	height: 389.9px;
  	object-fit: cover;
}

